<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Assignment 2 - Add Destination</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<script src="js/jquery.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
</head>
<body>
	<div class="jumbotron">
		<div class="container">
			<h1 class="text-center">Welcome to Assignment 2</h1>
		</div>
	</div>
	<div class="container">
		<h1 class="text-center">Add New Destination <a href="/">Back To Home</a></h1>
		<div th:utext="${error}"></div>
		<form method="post" action="#" th:action="@{/addDestination}"
			th:object="${destination}">
			<div class="form-group">
				<label>Destination's Name:</label> <input class="form-control"
					type="text" th:field="*{destinationName}" />
			</div>
			<div class="form-group">
				<label>Duration of Stay in days:</label> <input class="form-control"
					type="number" th:field="*{durationOfStay}" />
			</div>
			<div class="form-group">
				<label>Went with:</label> <input type="text" class="form-control"
					th:field="*{wentWith}" />
			</div>
			<div class="form-group">
				<label>Year:</label> <input type="number" class="form-control"
					th:field="*{year}" />
			</div>

			<div class="form-group">
				<label>Comments:</label> <input type="text" class="form-control"
					th:field="*{comments}" />
			</div>
			<input class="btn btn-primary" type="submit"
				value="Add a destination!" />
		</form>
		
	</div>
</body>
</html>