<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Assignment 2 - Home</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
	<div class="jumbotron">
		<div class="container">
			<h1 class="text-center">Welcome to Assignment 2</h1>
		</div>
	</div>
	<div class="container">
		<div class="card-columns">
			<div class="card bg-warning">
				<div class="card-body text-center">
					<a class="btn btn-primary" href="searchDestination">Search for
						a destination</a>
				</div>
			</div>
			<div class="card bg-warning">
				<div class="card-body text-center">
					<a class="btn btn-primary" href="addDestination">Add a new
						destination</a>
				</div>
			</div>
			<div class="card bg-warning">
				<div class="card-body text-center">
					<a class="btn btn-primary" href="listDestinations">List of all
						the Destinations</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>