<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Assignment 2 - All Destination</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<script src="js/jquery.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
</head>
<body>
	<div class="jumbotron">
		<div class="container">
			<h1 class="text-center">Welcome to Assignment 2</h1>
		</div>
	</div>
	<div class="container">
		<h1 class="text-center">
			Search Destination <a href="/">Back To Home</a>
		</h1>

		<table class="table table-bordered ">
			<tr>
				<th>Destination Name</th>
				<th>Duration of Stay</th>
				<th>Went with</th>
				<th>Year</th>
				<th>Comments</th>
			</tr>
			<tr th:each="adestination:${destinationList}">
				<td th:text="${adestination.destinationName}"></td>
				<td th:text="${adestination.durationOfStay}"></td>
				<td th:text="${adestination.wentWith}"></td>
				<td th:text="${adestination.year}"></td>
				<td th:text="${adestination.comments}"></td>
			</tr>

		</table>

	</div>
</body>
</html>